<div class="panel panel-primary">
    <div class="panel-heading">List Users</div>
    <div class="panel-body">
        <div class="row">
                <div class="col-md-3 col-md-offset-10">
                    <button class="btn btn-success">Add User</button>
                </div>
        </div>

        <table class="table">
            <tbody>
                <th>ID</th>
                <th>Name</th>
                <th>User</th>
            </tbody>
            <tbody>
                <tr *ngFor="let user of Users">
                    <td>
                        {{user.ID}}
                    </td>
                    <td>
                        {{user.Name}} {{user.FirstName}} {{user.SecondName}}
                    </td>
                    <td>
                        {{user.User}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>